@import url(style.css);

section {
  max-width: 500px;
  margin: 80px auto;
  padding: 40px;
  background-color: var(--secondary);
  border-radius: 16px;
  box-shadow: var(--main-shadow);
}

h2 {
  text-align: center;
  margin-bottom: 24px;
}

#transaction-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

select {
  border: none;
  padding: 10px 12px;
  border-radius: 8px;
  font-size: inherit;
  background-color: var(--white-50);
  font-weight: 500;
}

.type-selector {
  display: flex;
  gap: 8px;
  flex-direction: column;
}

input[type="radio"] {
  display: none;
}

.input-container {
  display: flex;
  gap: 8px;
}

.type-box {
  display: inline-block;
  width: 100%;
  padding: 16px;
  text-align: center;
  border: 2px solid var(--white-50);
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
  font-weight: 500;
}

.type-box:hover {
  background-color: var(--white-50);
}

input[type="radio"]:checked + .type-box {
  border-color: var(--primary);
  background-color: var(--white-50);
  font-weight: bold;
}

/* dark theme */
.dark-theme input[type="radio"]:checked + .type-box {
  border-color: var(--accent);
  background-color: var(--primary-30);
}

.dark-theme section {
  background-color: var(--primary-30);
}

.dark-theme option {
  background-color: var(--primary-50);
}

/* reposn */
@media (max-width: 480px) {
  section {
    max-width: 100%;
    margin: 80px 0px;
    padding: 24px 14px;
  }

  h2 {
    font-size: 20px;
  }

  select,
  input[type="number"],
  input[type="date"],
  input[type="text"],
  .primary-button,
  .type-box {
    font-size: 16px;
  }

  .type-box {
    padding: 10px;
  }

  .primary-button {
    padding: 10px 0;
  }

  #transaction-form {
    gap: 8px;
  }

  .btn {
    margin-top: 16px;
  }
}

@media (max-width: 370px) {
  section {
    padding: 20px 10px;
    margin: 30px 8px;
  }

  h2 {
    font-size: 18px;
  }

  select,
  input[type="number"],
  input[type="date"],
  input[type="text"] {
    font-size: 12px;
    padding: 6px 8px;
  }

  .type-box {
    padding: 8px;
    font-size: 12px;
  }

  .primary-button {
    font-size: 13px;
    padding: 8px 0;
  }
}
