@import url(style.css);

section {
  max-width: 500px;
  margin: 80px auto;
  padding: 40px;
  background-color: var(--secondary);
  border-radius: 16px;
  box-shadow: var(--main-shadow);
}

h2 {
  text-align: center;
  margin-bottom: 24px;
}

#transaction-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

select {
  border: none;
  padding: 10px 12px;
  border-radius: 8px;
  font-size: inherit;
  background-color: var(--white-50);
  font-weight: 500;
}

.type-selector {
  display: flex;
  gap: 8px;
  flex-direction: column;
}

input[type="radio"] {
  display: none;
}

.input-container{
    display: flex;
    gap: 8px;
}

.type-box {
  display: inline-block;
  width: 100%;
  padding: 16px;
  text-align: center;
  border: 2px solid var(--white-50);
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
  font-weight: 500;
}

.type-box:hover {
  background-color: var(--white-50);
}

input[type="radio"]:checked + .type-box {
  border-color: var(--primary);
  background-color: var(--white-50);
  font-weight: bold;
}
