@import url(style.css);

/* Dashboard */
#add-transaction-container {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  gap: 8px;

  margin: 40px;
  margin-top: 80px;
}

#add-transaction-container img {
  width: 80px;
}

#dashboard-body {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.dashboard-table-header {
  display: flex;
  gap: 4px;
  padding-bottom: 8px;
  margin-bottom: 16px;
  border-bottom: 1px var(--accent) solid;
}

.dashboard-table-header img {
  filter: invert(53%) sepia(7%) saturate(4933%) hue-rotate(315deg) brightness(92%) contrast(92%);
}

.dashboard-main-section {
  background-color: var(--secondary);
  padding: 16px;
  border-radius: 16px;
  overflow-y: hidden;
}

#summary {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.summary-p {
  padding-bottom: 8px;
  font-weight: bold;
  color: var(--primary);
}

.current {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.summary-p span {
  font-weight: normal;
  font-size: 18px;
  color: var(--text-primary);
}

#balance {
  font-weight: 500;
}

.summary-link {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  gap: 12px;
  overflow: hidden;
  padding: 8px;
  border-radius: 8px;
}

.summary-link:hover {
  background-color: var(--white-50);
}

.summary-link img.icon {
  rotate: -90deg;
}

.left-side {
  width: 56px;
}

.total-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.right-side{
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.summary-p span {
  margin-top: 8px;
  display: block;
}

#summary-section {
  width: 50%;
}

#recent-transaction-section {
  width: 100%;
}

#dashboard-table {
  width: 100%;
}

#dashboard-table {
  width: 100%;
  border-collapse: collapse;
}

#dashboard-table tbody {
  overflow-y: auto;
}

#dashboard-table th,
#dashboard-table td {
  padding: 0.75rem;
  text-align: left;
  width: 20%;
  text-overflow: clip;
}

tbody tr:hover {
  background-color: var(--white-50);
}

h3 {
  color: var(--accent-dark);
}

#dashboard-table thead {
  color: var(--primary);
}


.chart-container {
  max-width: 200px;
  margin: 2rem auto;
}


.color-box {
  width: 12px;
  height: 12px;
  border-radius: 12px;
  border: 2px solid var(--white);
}

.color-box-cont{
  display: flex;
  align-items: center;
  gap: 4px;
}

#all-expenses .color-box{
  background: var(--negative-signal);
}
#all-income .color-box{
  background: var(--positive-signal);
}


#income,
#expenses{
  font-weight: 500;
}