@import url(style.css);
main{
  padding: 0;
}
/* hero section */
#hero-section-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 120px 0;
  margin-bottom: 120px;
}

#hero-h1 i,
#hero-h1 span {
  font-size: inherit;
  font-family: inherit;
  color: inherit;
}

#hero-h1 {
  font-size: 84px;
  color: var(--primary);
  margin-bottom: 24px;
}

#hero-h1 span {
  color: var(--positive-signal);
  text-shadow: 1px 1px 2px var(--primary);
}

#hero-section-container div {
  margin: 24px 0;
}

#hero-img {
  width: 860px;
}

#right-side-container p {
  line-height: 180%;
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 24px;
}

#sign-options-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

#services {
  display: flex;
  gap: 32px;
  justify-content: center;
  margin-bottom: 40px;
}

.card img {
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
  width: 70px;
}

.card {
  position: relative;
  display: flex;
  padding: 36px 24px 24px 24px;
  flex-direction: column;
  gap: 6px;
  border-radius: 24px;
  background: var(--secondary-50);

  max-width: 330px;
}

.card:hover img {
  top: -46px;
  transition: all .5s ease;
}

.card:hover {
  background-color: var(--secondary-dark);
  transition: all .5s ease;
}



/* reponsive */
@media (max-width: 768px) {
  #hero-section-container {
    flex-direction: column;
    gap: 40px;
    margin: 100px 0;
  }

  #hero-h1 {
    font-size: 56px;
    text-align: center;
    margin-bottom: 8px;
  }

  #right-side-container p {
    text-align: center;
  }

  #hero-img {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    display: block;
  }

  #sign-options-container {
    justify-content: center;
  }

  #services {
    flex-direction: column;
    gap: 56px;
    margin-bottom: 100px;
    align-items: center;
  }

  .card {
    width: 100%;
  }

  .card img {
    width: 60px;
    top: -30px;
  }
}


@media (max-width: 370px) {
  #hero-h1 {
    font-size: 48px;
  }

  #right-side-container p {
    font-size: 18px;
  }

  #hero-img {
    max-width: 100%;
  }

  #services {
    gap: 16px;
  }

  .card img {
    width: 50px;
    top: -25px;
  }
}