@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Space+Grotesk:wght@300..700&display=swap");

:root {
  /* colors */
  --primary: rgba(46, 31, 71, 1);
  --accent: rgba(231, 109, 109, 1);
  --accent-dark: rgb(226, 88, 88);
  --secondary: rgba(235, 221, 203, 1);
  --secondary-50: rgba(235, 221, 203, 0.5);
  --secondary-dark: rgba(235, 225, 205);
  --background: rgba(253, 249, 243, 1);
  --positive-signal: rgba(217, 232, 164, 1);
  --negative-signal: rgba(141, 74, 86, 1);
  --text-primary: rgba(42, 42, 42, 1);
  --text-secondary: rgba(134, 134, 134, 1);

  --white: #ffffff;
  --white-50: rgba(255, 255, 255, 0.5);

  /* padding */
  --main-padding: 1em 8%;

  /* fonts */
  --main-font: "IBM Plex Sans", sans-serif;
  --accent-font: "Space Grotesk", sans-serif;
  --text-body-size: 16px;

  /* shadows */
  --main-shadow: 1px 1px 8px rgba(42, 42, 42, .2)
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: url("images/noise-pattern.png") 0% 0% / 150px 150px repeat,
    var(--background);
  font-family: var(--main-font);
  font-size: var(--text-body-size);
  color: var(--text-primary);
  height: 100vh;
}

/* fonts */
h1,
h2,
h3 {
  font-family: var(--accent-font);
}

h1 {
  font-size: 28px;
  font-weight: 700;
}

h2 {
  font-size: 24px;
  font-weight: 700;
}

h3 {
  font-size: 20px;
  font-weight: 700;
}

/* links */
a {
  color: inherit;
  text-decoration: none;
}

.link {
  color: var(--accent);
  font-weight: 500;
}

/* buttons */
button {
  border: none;
  font-family: inherit;
  font-weight: 500;
  font-size: inherit;
  display: flex;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 2px solid var(--accent);
  gap: 5px;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  cursor: pointer;
}

.primary-button {
  background: var(--accent);
  color: var(--white);
}

.secondary-button {
  color: var(--accent);
}

.icon {
  width: 16px;
}

.main-centered {
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* inputs */
input {
  border: none;
  border-radius: 8px;
  background: var(--white);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25) inset;
  padding: 12px 14px;
  width: 100%;
  font-size: inherit;
  font-family: inherit;
}

input:focus,
select:focus {
  border-color: var(--accent);
  outline: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}



/* Navbar */
#main-nav {
  display: flex;
  justify-content: space-between;
  padding: var(--main-padding);
}

#logo {
  width: 100px;
}

#welcomeUserMsg {
  font-family: var(--accent-font);
  font-weight: 500;
}

#drop-down-container {
  position: relative;
  display: inline;
}

#drop-down-menu {
  display: none;
  position: absolute;
  top: 140%;
  right: 0;
  background-color: var(--white);
  color: var(--primary);
  z-index: 100;
  padding: 0.5rem;
  border-radius: 8px;
  cursor: pointer;
}

#drop-down-menu.show {
  display: block;
}

#drop-down-menu p {
  text-wrap: nowrap;
}

#drop-down-arrow {
  cursor: pointer;
}

select{
  font-family: inherit;
}

select option{
  font-weight: normal;
}

/* Main tag */
main {
  padding: var(--main-padding);
}

/* hover effects */
.primary-button:hover{
  background-color: var(--accent-dark);
}

.secondary-button:hover {
  color: var(--accent-dark);
  background-color: var(--white-50);
}

button:hover{
  border: 2px solid var(--accent-dark);
}