<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/style/style.css" />
    <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico" />
    <title>404 - Page Not Found</title>
    <style>
      body {
        display: flex;
        height: 100vh;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
      }
    </style>
  </head>
  <body>
    <img
      src="/static/images/404.svg"
      alt="404 illustration"
      style="max-width: 420px"
    />
    <h2 style="margin-bottom: 24px">
      Oops! The page you are looking for does not exist.
    </h2>
    <button class="primary-button"><a href="/">Return Home</a></button>
  </body>
</html>
