<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/style/style.css" />
    <link rel="stylesheet" href="../static/style/dashboard.css" />
    <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico" />
    <title>Dashboard</title>
    <script>
      (function () {
        var theme = localStorage.getItem("theme");
        if (theme === "dark") {
          document.documentElement.classList.add("dark-theme");
        } else {
          document.documentElement.classList.remove("dark-theme");
        }
      })();
    </script>
  </head>
  <body>
    <div id="navbar-placeholder"></div>
    <div id="modal-placeholder"></div>

    <main>
      <!-- add transaction btn -->

      <div id="add-transaction-container">
        <h3 id="welcome-msg">Welcome Back, {{username}}!</h3>
        <a href="/add" id="add-transaction-btn">
          <button class="primary-button">
            <img
              src="/static/images/icons/add.svg"
              alt="plus sign"
              style="width: 16px; margin-right: 4px"
            />Add transaction
          </button></a
        >
        <br />
      </div>

      <section id="dashboard-body">
        <!-- summary -->
        <section id="summary-section" class="dashboard-main-section">
          <div class="dashboard-table-header">
            <img src="../static/images/icons/summary.svg" alt="icon" />
            <h3 class="h3">Summary</h3>
          </div>

          <div id="summary" class="dashboard-sub">
            <div class="summary-p current">
              <p>Current Balance:</p>
              <p id="balance">${{balance}}</p>
            </div>

            <div class="summary-p summary-link" id="all-income">
              <div class="total-container">
                <div class="right-side">
                  <div class="color-box-cont">
                    <div class="color-box"></div>
                    <p>Total Income:</p>
                  </div>
                  <p id="income">${{total_income}}</p>
                </div>

                <img
                  src="../static/images/icons/arrow.svg"
                  alt=""
                  class="icon"
                />
              </div>
            </div>

            <hr style="border: 1px solid var(--white-50)" />

            <div class="summary-p summary-link" id="all-expenses">
              <div class="total-container">
                <div class="right-side">
                  <div class="color-box-cont">
                    <div class="color-box"></div>
                    <p>Total Expenses:</p>
                  </div>
                  <p id="expenses">${{total_expense}}</p>
                </div>
                <img
                  src="../static/images/icons/arrow.svg"
                  alt=""
                  class="icon"
                />
              </div>
            </div>

            <div class="chart-container">
              <canvas id="financeChart"></canvas>
            </div>
          </div>
        </section>

        <section id="recent-transaction-section" class="dashboard-main-section">
          <div class="dashboard-table-header">
            <img src="../static/images/icons/recent.svg" alt="icon" />
            <h3 class="h3">Recent Transactions</h3>
          </div>
          <div class="dashboard-sub">
            <table id="dashboard-table">
              <thead>
                <tr>
                  <th>Type</th>
                  <th>Amount</th>
                  <th>Category</th>
                  <th>Date</th>
                  <th class="note">Note</th>
                </tr>
              </thead>
              <tbody id="transaction-table">
                {{transactions}}
              </tbody>
            </table>
          </div>
        </section>
      </section>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
      const allIncome = document.getElementById("all-income");
      const allExpenses = document.getElementById("all-expenses");

      allIncome.addEventListener("click", function () {
        window.location.href = "/income";
      });

      allExpenses.addEventListener("click", function () {
        window.location.href = "/expenses";
      });

      let userEmail = "";

      fetch("/api/user-email")
        .then((res) => res.json())
        .then((userData) => {
          userEmail = userData.email;
          return fetch("/data/transactions.json");
        })
        .then((res) => res.json())
        .then((data) => {
          const transactions = data[userEmail] || [];

          let income = 0;
          let expenses = 0;

          transactions.forEach((t) => {
            if (t.t_type === "income") {
              income += Number(t.amount);
            } else {
              expenses += Number(t.amount);
            }
          });


          // hide chart if no transactions
          const chartElement = document.getElementById("financeChart");
          if (income === 0 && expenses === 0) {
            chartElement.style.display = "none";
            return;
          } else {
            chartElement.style.display = "block"; 
          }

          const ctx = document.getElementById("financeChart").getContext("2d");
          new Chart(ctx, {
            type: "doughnut",
            data: {
              labels: ["Income", "Expenses"],
              datasets: [
                {
                  data: [income, expenses],
                  backgroundColor: ["rgb(177, 162, 143)", "#9c90ad"],
                },
              ],
            },
            options: {
              responsive: true,
              plugins: {
                legend: { display: false },
              },
            },
          });
        })
        .catch((err) => {
          console.log("Something went wrong");
        });
    </script>
    <script src="../static/script/script.js"></script>
  </body>
</html>
