<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <link rel="stylesheet" href="../static/style.css" />
  </head>
  <body>
    <p id="welcomeUserMsg">Hey {{username}}!</p>

    <a href="/add" id="add-transaction"> Add transaction</a>

    <h2>Summary</h2>
    <div id="summary">
      <p>Total Income: $<span id="income">{{total_income}}</span></p>
      <p>Total Expenses: $<span id="expense">{{total_expense}}</span></p>
      <p>Balance: $<span id="balance">{{balance}}</span></p>
    </div>
    
    <section>
      <h2>Recent Transactions</h2>
      <table>
        <thead>
          <tr>
            <th>Type</th>
            <th>Amount</th>
            <th>Category</th>
            <th>Date</th>
            <th>Note</th>
          </tr>
        </thead>
        <tbody id="transaction-table">
          {{transactions}}
        </tbody>
      </table>
    </section>
    
  </body>
</html>
