<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/style.css" />
    <title>Expenses</title>
  </head>
  <body>
    <nav id="main-nav">
      <a href="/dashboard"><img src="../static/images/logo.svg" alt="logo" id="logo" /></a>

      <!-- user welcome msg -->
      <div id="welcomeUserMsg">
        Hey <span id="user-display"></span>!

        <div id="drop-down-container">
          <img
            src="../static/images/icons/arrow.svg"
            alt="arrow"
            id="drop-down-arrow"
            class="icon"
          />
          <div id="drop-down-menu">
            <p id="logout">Log out</p>
          </div>
        </div>
      </div>
    </nav>

    <main>
    <h2>All Expenses</h2>

    <form method="GET" action="/expenses">
      <label for="filter">Filter by:</label>
      <select name="filter" id="filter">
        <option value="day">Day</option>
        <option value="week" selected>Week</option>
        <option value="month">Month</option>
        <option value="year">Year</option>
        <option value="all-time">All time</option>
      </select>
      <button type="submit">Apply</button>
    </form>

    <table>
      <thead>
        <tr>
          <th>Category</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody id="expenses-table">
        {{expenses}}
      </tbody>
    </table>
  </main>
  </body>

  <script src="/static/table.js"></script>
</html>
