<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/style/style.css" />
    <link rel="stylesheet" href="../static/style/income.css" />
    <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico">
    <title>Income</title>
  </head>
  <body>
    <div id="navbar-placeholder"></div>

    <main>
      <h2>All Incomes</h2>

      <form id="filter-form">
        <select name="filter" id="filter">
          <option value="day">Day</option>
          <option value="week">Week</option>
          <option value="month">Month</option>
          <option value="year">Year</option>
          <option value="all-time">All time</option>
        </select>

        <button type="submit">Apply</button>
      </form>

      <table>
        <thead class="thead">
          <tr>
            <th>Category</th>
            <th class="total">Total</th>
          </tr>
        </thead>
        <tbody id="incomes-table">
          {{income}}
        </tbody>
      </table>
    </main>

    <script src="../static/script/editTable.js"></script>
    <script src="/static/script/script.js"></script>
  </body>
</html>
