<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/style.css" />
    <title>CashMate</title>
  </head>
  <body>
    <nav id="main-nav">
      <a href="/"><img src="../static/images/logo.svg" alt="logo" id="logo" /></a>
    </nav>
    
    <main class="main-centered">
      <section id="hero-section-container">
        <img
          src="../static/images/home.svg"
          alt="dashboard illustration"
          id="hero-img"
        />

        <h1 id="hero-h1">Track smarter, Spend better.</h1>

        <div>
          <h3>Stay on top of your finances effortlessly with CashMate.</h3>
          <p>
            Track your income and spending, filter by category or date, and view
            instant summaries.
          </p>
          <p>All in a clean, distraction-free space.</p>
        </div>

        <section id="sign-options-container">
          <button class="primary-button"><a href="/login">Log In</a></button>
          <button class="secondary-button">
            <a href="/signup">Sign Up</a>
          </button>
        </section>
      </section>
    </main>

    <script src="../static/script.js"></script>
  </body>
</html>
