<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/style.css" />
    <title>CashMate</title>
  </head>
  <body>
    <main>
      <section id="hero-section-container">
        <div id="hero-img">
            <h1>Welcome to CashMate!</h1>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet eos
            quos voluptates quibusdam dolores beatae voluptate, aliquam earum
            voluptatibus recusandae!
          </p>
        </div>
        <section id="sign-options-container">
            <a href="/login">Sign In</a>
            <a href="/signup">Sign Up</a>
        </section>
      </section>
    </main>

    <script src="../static/script.js"></script>
  </body>
</html>
