<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/style/style.css" />
    <link rel="stylesheet" href="../static/style/home.css" />
    <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico">
    <title>CashMate</title>
    <script>
      (function () {
        var theme = localStorage.getItem("theme");
        if (theme === "dark") {
          document.documentElement.classList.add("dark-theme");
        } else {
          document.documentElement.classList.remove("dark-theme");
        }
      })();
  </script>
  </head>
  <body>
    <nav  class="home-nav">
      <div id="insider-nav">
      <a href="/"
        ><img src="../static/images/logo.svg" alt="logo" id="logo"
      /></a>


      <section id="sign-options-container">
        <button class="primary-button"><a href="/login">Log In</a></button>
        <button class="secondary-button">
          <a href="/signup">Sign Up</a>
        </button>
      </section>
      </div>
    </nav>

    <main>
      <section id="hero-section-container">
        <div id="right-side-container">
          <h1 id="hero-h1">Track <i>smarter</i>, </br> Spend <span>better</span>.</h1>
            <p>
              Track your income and spending, 
              <br> Filter by category or date, 
              <br>And view instant summaries. 
            </p>


          <section id="sign-options-container">
            <button class="primary-button"><a href="/signup"> Create Your Wallet</a></button>
            
          </section>
        </div>

        <img
          src="../static/images/home2.svg"
          alt="dashboard illustration"
          id="hero-img"
        />
      </section>

      <section id="services">
        <div class="card">
          <img src="../static/images/folder.svg" alt="folder icon" />
          <h3>Smart Expense Tracking</h3>
          <p>
            Log your daily expenses with ease and stay in control of your finances.
          </p>
        </div>

        <div class="card">
          <img src="../static/images/clock.svg" alt="folder icon" />
          <h3>Stay on Top of Income</h3>
          <p>
            Record your earnings and monitor cash flow with simple tools.
          </p>
        </div>

        <div class="card">
          <img src="../static/images/alarm.svg" alt="folder icon" />
          <h3> Know Where You Stand</h3>
          <p>
            Get quick summaries and filter by week, month, or year to see the full picture.
          </p>
        </div>
      </section>
    </main>

    <script src="../static/script/script.js"></script>
  </body>
</html>
