<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/style/style.css" />
    <link rel="stylesheet" href="../static/style/login.css" />
    <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico">
    <title>Login</title>
  </head>
  <body>
    <nav id="main-nav" >
      <a href="/"
        ><img src="../static/images/logo.svg" alt="logo" id="logo"
      /></a>
    </nav>

    <main>
      <form method="post" action="/login" class="login-form-container">
        <div>
          <img
            src="../static/images/login.svg"
            alt="mobile login form illustration"
            class="login-img"
          />
        </div>

        <div class="login-form">
          <h3>Welcome back!</h3>

          <div class="input-fields-container">
            <!-- <input
              id="username"
              name="username"
              type="text"
              required
              placeholder="First Name"
            /> -->

            <input
              id="email"
              name="email"
              type="email"
              required
              placeholder="E-mail"
            />
            <input
              id="password"
              name="password"
              type="password"
              required
              placeholder="Password"
            />
            <div id="message">
              {{message}}
            </div>
          </div>

          <button type="submit" class="primary-button" style="width: 100%">
            Log In
          </button>
          <p class="signup-link">
            Don't have an account? <a href="/signup" class="link">Sign Up</a>
          </p>
        </div>
      </form>
    </main>

    <script>
      document
        .querySelector(".login-form-container")
        .addEventListener("submit", function (e) {
          const email = document.querySelector('input[name="email"]').value;
          localStorage.setItem("email", email); // store email as "username" key for compatibility
        });
    </script>
  </body>
</html>
