<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/style/style.css" />
    <link rel="stylesheet" href="../static/style/login.css" />
    <title>Login</title>
  </head>
  <body>
    /

    <main class="main-centered">
      <form method="post" action="/login" class="login-form-container">
        <div>
          <img
            src="../static/images/login.svg"
            alt="mobile login form illustration"
            class="login-img"
          />
        </div>

        <div id="message" style="color: var(--negative-signal)">
          {{message}}
        </div>

        <div class="login-form">
          <h3>Welcome back!</h3>

          <div class="input-fields-container">
            <input
              id="username"
              name="username"
              type="text"
              required
              placeholder="First Name"
            />

          <div class="input-fields-container">
            <input
              id="email"
              name="email"
              type="email"
              required
              placeholder="E-mail"
            />
            <input
              id="password"
              name="password"
              type="password"
              required
              placeholder="Password"
            />
          </div>

          <button type="submit" class="primary-button" style="width: 100%">
            Log In
          </button>
          <p class="signup-link">
            Don't have an account? <a href="/signup" class="link">Sign Up</a>
          </p>
        </div>
      </form>
    </main>

    <script>
      document
        .querySelector(".login-form-container")
        .addEventListener("submit", function (e) {
          const username = document.querySelector('input[name="username"]').value;
          localStorage.setItem("username", username); // store email as "username" key for compatibility
        });
    </script>
  </body>
</html>
