<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up</title>
    <link rel="stylesheet" href="../static/style/style.css" />
    <link rel="stylesheet" href="../static/style/login.css" />
    <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico" />
    <script>
      (function () {
        var theme = localStorage.getItem("theme");
        if (theme === "dark") {
          document.documentElement.classList.add("dark-theme");
        } else {
          document.documentElement.classList.remove("dark-theme");
        }
      })();
    </script>
  </head>
  <body>
    <nav class="login-nav">
      <div id="insider-nav">
        <a href="/"
          ><img src="../static/images/logo.svg" alt="logo" id="logo"
        /></a>
      </div>
    </nav>

    <main>
      <form method="post" action="/signup" class="login-form-container">
        <div>
          <img
            src="../static/images/signup.svg"
            alt="mobile signup form illustration"
            class="login-img"
          />
        </div>

        <div class="login-form">
          <h3>Create an account easily</h3>

          <div class="input-fields-container">
            <input
              type="text"
              name="username"
              placeholder="First Name"
              minlength="3"
              maxlength="30"
              pattern="^[A-Za-z]+$"
              title="Username should be 3 to 30 characters, letters, numbers, or underscores only."
              required
            />

            <input type="email" name="email" placeholder="E-mail" required />

            <input
              type="password"
              name="password"
              placeholder="Password"
              required
              minlength="6"
              maxlength="30"
            />

            <input
              type="password"
              name="confirm-password"
              placeholder="Confirm Password"
              required
            />
            <div id="message">{{message}}</div>
          </div>
          <button type="submit" class="primary-button" style="width: 100%">
            Sign Up
          </button>
          <p class="signup-link">
            Already have an account?
            <span><a href="/login" class="link">Login</a></span>
          </p>
        </div>
      </form>
    </main>
  </body>
</html>
